* {
  box-sizing: border-box;
}
h1 {
  color: black;
}
.button__start {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  color: blue;
  padding: auto;
  width: 100px;
  height: 50px;
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
}
.start__container {
  padding: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: aqua;
  font-size: larger;
}
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0px;
}
.second__page {
  padding: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: aqua;
  font-size: larger;
}
.card__1 {
  display: flex;
}
.card__2 {
  display: flex;
}
.button__smaller {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  color: blue;
  padding: auto;
  width: 100px;
  height: 50px;
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
}
.button__greater {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  color: blue;
  padding: auto;
  width: 100px;
  height: 50px;
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
}
.hidden {
  display: none;
}
